body{
	background-color: lightgrey;
}
div {
	display: block;
}
.huge-box {
	display: flex; 
}
.box-child {
	justify-content: center;
	align-content: center;
	align-items: center; 
}
.big-box {
	font-family: 'Pavanam';
    width: 320px;
    height: 568px;
    background-color: white;
	border: solid .25px;
	display: flex;
		justify-content: center;
		align-content: center;
		align-items: center; 
}
.lil-box {
	align-content: center;
    align-items: center;
	border: solid px white;
	text-align: center;
}
.id-box {
	height: 40px;
	padding: 8px 8px 0px 8px;
}
.pass-box {
	height: 40px;
	padding: 8px 8px 0px 8px;
}
.input-email {
	border: solid 0.5px grey;
	border-bottom: none;
	border-top-left-radius: 15px; 
	border-top-right-radius: 15px;
}
.input-password {
	border: solid 0.5px grey;
	border-bottom-left-radius: 15px; 
	border-bottom-right-radius: 15px;
}
input {
	border:none;
}
#becon {
	height: 150px;
	width: 150px;
	position:fixed;
    top: 60px;
}
.title {
    font-size: 20px;
}
.link-part {
	text-align: center;
}
.green-link {
	color: green;
    font-size: 24px;
	font-weight: normal;
	text-decoration:none; 
    
}
.green-link-small {
	color: green;
    font-size: 15px;
	font-weight: normal;
	text-decoration:none;
}